# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Database files
db.sqlite3

# Environment variables
#.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Editor files (e.g., VS Code, PyCharm, etc.)
.vscode/
.idea/

# OS-specific files (Windows, macOS, etc.)
.DS_Store  # macOS
Thumbs.db  # Windows

# Media files
media/

# Django migration files
*/migrations/*